<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h2>Adivina el número</h2>
                </div>
            </div>
            <div class="card-body">
                <h3>Instrucciones de Uso</h3>
                <h6>La esencia del juego es simple. Pienso un número
                    y tu deberás adivinarlo en 5 intentos, si lo divinas
                    antes de que se acaben los intentos, ganas.
                </h6>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" (click)="iniciarJuego()">jugar</button> &nbsp;
                <button type="button" class="btn btn-primary" (click)="configurar()">Configurar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>