<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h3>Configuración Juego adivina el número</h3>
        </div>
    </div>
    <div class="card-body">
        <label>Máximo valor</label>
        <input type="text" [(ngModel)]="max" class="form-control">
        <label>Intentos</label>
        <input type="text" [(ngModel)]="vidas" class="form-control">
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
    </div>
</div>